<template>
  <div class="task">
    <div class="task-edit">
      <div class="new-task">
        <el-input
          placeholder="Название задачи"
          v-model="new_task.name"
        ></el-input>
        <el-input
          placeholder="Количество часов на задачу"
          v-model="new_task.hours"
        ></el-input>
        <el-date-picker
          v-model="new_task.start"
          type="date"
          placeholder="Начало"
          format="dd.MM.yyyy"
          value-format="yyyy-MM-dd"
        ></el-date-picker>
        <div class="colors">
          <el-radio
            v-model="new_task.color"
            label="blue"
            class="blue"
          ></el-radio>
          <el-radio
            v-model="new_task.color"
            label="green"
            class="green"
          ></el-radio>
          <el-radio
            v-model="new_task.color"
            label="purple"
            class="purple"
          ></el-radio>
          <el-radio v-model="new_task.color" label="red" class="red"></el-radio>
          <el-radio
            v-model="new_task.color"
            label="yellow"
            class="yellow"
          ></el-radio>
        </div>
        <ul class="error-text">
          <li v-show="error_list.inc">
            Конечная дата должна быть больше начальной
          </li>
          <li v-show="error_list.empty">Заполните все поля</li>
        </ul>
        <el-button @click="AddNewTask()">Добавить задачу</el-button>
      </div>
      <draggable v-model="tasks" class="task-list">
        <transition-group>
          <p
            v-for="task in tasks"
            :key="task.id"
            :class="task.color"
            class="task-item"
          >
            <span>{{ task.name }}</span>
            <span>{{ task.hours }} ч</span>
          </p>
        </transition-group>
      </draggable>
    </div>
    <div class="table-holder">
      <div class="table">
        <div class="task-holder">
          <div
            v-for="task in tasks"
            :key="task.id"
            class="task-elem"
            :class="task.color"
            :style="{
              left: task.style_left + 'px',
              top: task.style_top + 'px',
              width: task.style_width + 'px',
            }"
          >
            {{ task.name }}
          </div>
        </div>

        <table ref="table">
          <tr>
            <th></th>
            <th v-for="element in format_dates" :key="element">
              {{ element }}
            </th>
          </tr>
          <tr v-for="element in tasks" :key="element.id">
            <td>{{ element.name }}</td>
            <td v-for="element in format_dates" :key="element"></td>
          </tr>
        </table>
      </div>
    </div>
    <el-button @click="generateReport()">Сохранить в pdf</el-button>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import { SetPdfTable } from "../SetPdfTable";
export default {
  name: "Project",
  components: { draggable },
  props: {},
  data() {
    return {
      active_project: 1,
      id_task: 8,
      day_top: 32,
      day_width: 101,
      day_hours: this.$route.params.hours ? this.$route.params.hours : 8,
      dates: [
        "2021-01-10",
        "2021-01-11",
        "2021-01-12",
        "2021-01-13",
        "2021-01-14",
        "2021-01-15",
        "2021-01-16",
        "2021-01-17",
        "2021-01-18",
        "2021-01-19",
        "2021-01-20",
      ],
      format_dates: [
        "10-01-2021",
        "11-01-2021",
        "12-01-2021",
        "13-01-2021",
        "14-01-2021",
        "15-01-2021",
        "16-01-2021",
        "17-01-2021",
        "18-01-2021",
        "19-01-2021",
        "20-01-2021",
      ],
      tasks: [
        {
          id: 1,
          name: "task 1",
          start: "2021-01-10",
          end: "",
          color: "green",
          hours: "18",
          duration: 2.25,
          style_width_index: 3,
          style_top: 0,
          style_width: 227.25,
          style_left: 0,
        },
        {
          id: 2,
          name: "task 2",
          start: "2021-01-11",
          end: "",
          color: "red",
          hours: "34",
          duration: 4.25,
          style_width_index: 5,
          style_top: 32,
          style_width: 429.25,
          style_left: 101,
        },
        {
          id: 3,
          name: "task 3",
          start: "2021-01-12",
          end: "",
          color: "blue",
          hours: "5",
          duration: 0.625,
          style_width_index: 1,
          style_top: 64,
          style_width: 63.125,
          style_left: 202,
        },
        {
          id: 4,
          name: "task 4",
          start: "2021-01-14",
          end: "",
          color: "purple",
          hours: "21",
          duration: 2.625,
          style_width_index: 3,
          style_top: 96,
          style_width: 265.125,
          style_left: 404,
        },
        {
          id: 5,
          name: "task 5",
          start: "2021-01-15",
          end: "",
          color: "yellow",
          hours: "11",
          duration: 1.375,
          style_width_index: 2,
          style_top: 128,
          style_width: 138.875,
          style_left: 505,
        },
        {
          id: 6,
          name: "task 6",
          start: "2021-01-17",
          end: "",
          color: "blue",
          hours: "26",
          duration: 3.25,
          style_width_index: 4,
          style_top: 160,
          style_width: 328.25,
          style_left: 707,
        },
        {
          id: 7,
          name: "task 9",
          start: "2021-01-19",
          end: "",
          color: "red",
          hours: "3",
          duration: 0.375,
          style_width_index: 1,
          style_top: 192,
          style_width: 37.875,
          style_left: 909,
        },
      ],
      dates_point: {
        start: [],

        end: [],
      },
      error_list: {
        empty: false,
        inc: false,
      },
      new_task: {
        id: "",
        name: "",
        start: "",
        end: "",
        color: "blue",
        hours: "",
      },
      colors_hex: {
        red: "",
      },
    };
  },
  methods: {
    generateReport() {
      let t = this;
      new SetPdfTable({
        table: t.$refs.table,
        format_dates: t.format_dates,
        tasks: t.tasks,
        day_width: t.day_width,
      });
    },
    AddNewTask() {
      if (this.Validation()) {
        let color = this.new_task.color;
        this.new_task.id = this.id_task;
        this.id_task = this.id_task + 1;
        this.tasks.push(this.new_task);
        this.new_task = {
          id: "",
          name: "",
          start: "",
          end: "",
          color: color,
          hours: "",
        };
        this.SetStartEndDates();
      }
    },
    SetStartEndDates() {
      this.dates_point.start = [];
      this.dates_point.end = [];
      this.tasks.forEach((element) => {
        this.dates_point.start.push(element.start);
        let info = this.CheckTaskEnd(element.start, element.hours);
        this.dates_point.end.push(info.end);
        element.duration = info.duration;
      });
      this.SetAllDates();
    },
    CheckTaskEnd(start, hours) {
      let info = { end: "", duration: "" };
      let date = new Date(start);
      info.end = new Date(
        date.setDate(date.getDate() + hours / this.day_hours)
      );
      info.duration = hours / this.day_hours;
      return info;
    },
    SetAllDates() {
      let dates_arr = [];
      this.dates_point.start.forEach((item, index) => {
        let width_index = 0;
        let start_date = new Date(item);
        let end_date = new Date(this.dates_point.end[index]);
        let date = new Date(start_date);
        while (date <= end_date) {
          width_index += 1;
          let format_date = date.toISOString().slice(0, 10);
          dates_arr.push(format_date);
          let newDate = date.setDate(date.getDate() + 1);
          date = new Date(newDate);
        }
        this.tasks[index].style_width_index = width_index;
      });
      this.FormatDates(dates_arr);
    },
    FormatDates(dates_arr) {
      this.dates = Array.from(new Set([...dates_arr])).sort(function (a, b) {
        return new Date(a).getTime() - new Date(b).getTime();
      });
      this.format_dates = this.dates.map((item) =>
        item.split("-").reverse().join("-")
      );
      this.SetTaskPosition();
    },
    Validation() {
      if (
        this.new_task.name.length &&
        this.new_task.hours.length &&
        this.new_task.start.length
      ) {
        this.error_list.empty = false;
      } else {
        this.error_list.empty = true;
      }
      return !this.error_list.empty;
    },
    SetTaskPosition() {
      let left = this.day_width;
      let top = this.day_top;
      this.tasks.forEach((task, index) => {
        task.style_top = index * top;
        task.style_width = task.duration * left;
        this.dates.forEach((date, index) => {
          if (task.start == date) {
            task.style_left = index * left;
          }
        });
      });
    },
  },
  watch: {
    tasks: function () {
      this.SetTaskPosition();
    },
  },
};
</script>

<style lang="sass">
@mixin bp($point, $type: min)
  @media screen and (#{$type}-width: #{$point}px)
    @content

.task
  padding: 5vw

  .task-edit
    margin-bottom: 40px
    @include bp(768, min)
      display: grid
      max-width: 700px
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: 20px
      align-items: flex-start
      position: relative
      margin: 0 auto 40px

    .task-item
      padding: 9px
      border-radius: 5px
      margin: 0 0 20px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: space-between
      color: white
      font-weight: 600
      &.blue
        background: #2abff5
      &.green
        background: #3aba13
      &.red
        background: #d41c50
      &.purple
        background: #ad1aa8
      &.yellow
        background: #e3e314
    .new-task
      max-width: 400px
      margin-bottom: 40px
      position: sticky
      top: 20px
      @include bp(768, min)
        order: 2

      .el-input, .el-date-editor, .el-button
        margin-bottom: 20px
        display: block
        width: 100%

    .error-text
      list-style: none
      margin: 0
      padding: 0
      text-align: left
      color: red
      font-size: 12px
      margin-bottom: 20px
      li
        margin: 0
        list-style: none

    .colors
      display: flex
      align-items: center
      .el-radio
        margin-right: 10px
        border-radius: 50%
        &.blue
          background: #2abff5
        &.green
          background: #3aba13
        &.red
          background: #d41c50
        &.purple
          background: #ad1aa8
        &.yellow
          background: #e3e314

        &__inner
          border-radius: 50%
          width: 25px
          height: 25px
          display: block
          background: none
          border: none

        &__label
          display: none

  .table-holder
    overflow: auto
    width: 100%
    padding-bottom: 20px

    .table
      position: relative

    table
      width: min-content
      border-spacing: 0
      border-left: 1px solid #dbdbdb

      td, th
        white-space: nowrap
        padding: 5px 5px
        // height: 26px
        min-width: 90px
        border-right: 1px solid #dbdbdb
    .task-holder
      top: 32px
      left: 101px
      position: absolute

    .task-elem
      background: #8d99a6
      border-radius: 5px
      color: white
      font-weight: 600
      width: fit-content
      padding: 3px 0
      margin: 3px 0
      position: absolute
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      &.blue
        background: #2abff5
      &.green
        background: #3aba13
      &.red
        background: #d41c50
      &.purple
        background: #ad1aa8
      &.yellow
        background: #e3e314
</style>
