<template>
  <div>
    <div class="projects">
      <div
        class="project-item"
        v-for="(project, index) in projects"
        :key="index"
      >
        <div class="name">
          <h3
            v-show="!project.edit"
            @click="ToTasks(project.hours)"
            class="link"
          >
            <span>Имя проекта:</span>
            <span>{{ project.name }}</span>
          </h3>

          <el-input
            placeholder="Please input"
            v-model="project.name"
            v-show="project.edit"
          ></el-input>
        </div>
        <div class="hours">
          <h3 v-show="!project.edit">
            <span>часов/день:</span>
            <span>{{ project.hours }}</span>
          </h3>
          <el-input
            placeholder="Please input"
            v-model="project.hours"
            v-show="project.edit"
          ></el-input>
        </div>
        <el-button
          type="primary"
          icon="el-icon-edit"
          circle
          @click="project.edit = !project.edit"
          v-show="!project.edit"
        ></el-button>
        <el-button
          type="success"
          circle
          icon="el-icon-check"
          @click="project.edit = !project.edit"
          v-show="project.edit"
        ></el-button>
      </div>
      <el-button round @click="AddNewPoject()">Добавить проект</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      projects: [{ name: "project 1", edit: false, hours: 8 }],
    };
  },
  methods: {
    AddNewPoject() {
      this.projects.push({
        name: "project " + (this.projects.length + 1) + "",
        edit: false,
        hours: 8,
      });
    },
    ToTasks(hours) {
      this.$router.push({
        name: "Project",
        params: {
          hours: hours,
        },
      });
    },
  },
};
</script>

<style lang="sass">
.projects
  max-width: 500px
  margin: 0 auto
  padding: 5vw
  .project-item
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    cursor: pointer
    transition: opacity .5s
    margin-bottom: 10px
    align-items: center
    &:last-of-type
      margin-bottom: 30px

    .name
      display: flex
      flex-direction: column
      align-items: flex-start
    .el-input
      margin-bottom: 20px
    h3
      margin: 0
      display: flex
      flex-direction: column
      align-items: flex-start
      text-align: left
      margin-bottom: 10px
      span
        &:nth-child(1)
          font-size: 12px
          color: gray
          display: inline-block
          margin-bottom: 10px
      &.link
        transition: opacity .5s
        &:hover
          opacity: 0.5
</style>